*{
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: Black;
}
#fruits{
    color: red;
    border: 2px  green;
}
.a1{
    color: rgb(0, 255, 17);
}
p{
    background-color:orangered;
    color: aliceblue;
}
.banana{
    color: yellow;
}
.apple{
    color: red;
}
input[type="email"]{
    background-color: rgb(48, 23, 23);
    color: aliceblue;
}
label{
    color: aliceblue;
}